$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$red: #FF0000;
$black: #111;
$turquoise: #1fc8db;

$link-color: $turquoise;
$link-hover-color: $black;
$link-hover-decoration: none;
$text-color: $turquoise;

$font-size-base: 18px;
$border-radius-base: 0px;
$input-bg: rgba(255, 255, 255, 0.5);
$table-border-color: rgba($red, 0.2);
$input-color-placeholder: rgba($black, 0.3);

@import '~bootstrap-sass/assets/stylesheets/bootstrap';


@mixin pricedown-font() {
  font-family: 'Pricedown', Arial, sans-serif;
}

@mixin with-shadow() {
  text-shadow: 2px 2px $red;
}

@mixin game-bar() {
  @include with-shadow();
  text-transform: uppercase;
  background: rgba($black, 0.8);
  width: 100%;
  min-height: 40px;

  a {
    padding: 6px 12px;
  }

  a, button {
    text-transform: uppercase;
  }

  .title {
    display: inline-block;
    padding: 6px 12px;
  }
}

html,
body {
  height: 100%;
  text-align: center;
}

body {
  background: url(/assets/img/miami-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  @include pricedown-font();
}

.with-shadow {
  @include with-shadow();
}

.content-wrapper {
  padding: 20px 0;
}

.top-menu {
  padding-bottom: 50px;
  z-index: 1;

  a {
    @include with-shadow(); 
    padding: 5px;
    background: rgba($black, 0.5);
    text-transform: uppercase;
  }
}

.game-wrapper {
  background: rgba($black, 0.5);
  min-width: 800px;

  .game-bar {
    @include game-bar();
  }

  .middle-row {
    padding: 20px 0;
  }
}

.main-menu {
  @include pricedown-font();
  ul {
    li {
      a {
        font-size: $font-size-h1;
      }
    }
  }
}

.race {
  &__header {
    p {
      @include pricedown-font();
      color: $turquoise;
      font-size: $font-size-h1;
    }

    &__player {
      text-shadow: 2px 2px $black;
    }
  }
}

.countdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  @include with-shadow();
  @include pricedown-font();
  font-size: 200px;
  text-align: center;
}

.scores {
  table td, th {
    text-align: center;
  }

  thead {
    @include game-bar();

    tr {
      th {
        border-bottom: none;
        font-weight: normal;
      }
    }
  }

  td {
    text-transform: uppercase;
  }
}

.game-menu {
  background: rgba($black, 0.8);
  a {    
    padding: 6px 12px;
  }
  button, a {
    text-transform: uppercase;
  }
}

.race-stats {
  min-width: 200px;
  background: rgba($black, 0.6);
  margin: 0 -15px 0 -15px;
  padding: 5px;

  .player-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}


.round-form {
  &__position {
    padding: 10px 0;
  }
}


// @keyframes blinking-border {
//     from {text-shadow: 2px 2px $red;}
//     to {text-shadow: 2px 2px $black;}
// }

.winner {
  text-transform: uppercase;
  background: rgba($black, 0.8);
  padding: 20px 50px;

  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

  h1 {
    @include with-shadow();
    // animation: blinking-border 0.5s linear infinite;
  }
}
