$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$turquoise: #1fc8db;
$black: #111;

$link-color: $turquoise;
$link-hover-color: $black;
$link-hover-decoration: none;
$text-color: $turquoise;

$font-size-base: 24px;

@import '~bootstrap-sass/assets/stylesheets/bootstrap';


@mixin pricedown-font() {
  font-family: 'Pricedown', Arial, sans-serif;
}

@mixin with-shadow() {
  text-shadow: 2px 2px #FF0000;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url(/assets/img/miami-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  @include pricedown-font();
}

.with-shadow {
  @include with-shadow();
}

.content-wrapper {
  padding: 20px;
  text-align: center;
}

.game-wrapper {
  background: rgba($black, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 800px;
  min-height: 200px;
  padding: 10px 0;  
}

.main-menu {
  @include pricedown-font();
  ul {
    li {
      a {
        font-size: $font-size-h1;
      }
    }
  }
}

.race {
  &__header {
    p {
      @include pricedown-font();
      color: $turquoise;
      font-size: $font-size-h1;
    }

    &__player {
      text-shadow: 2px 2px $black;
    }
  }

  &__player-stats {
    
  }
}

.countdown {
  position: absolute;
  top: 330px;
  left: 350px;
  @include with-shadow();
  @include pricedown-font();
  font-size: 200px;
}

.scores {
  table td, th {
    text-align: center;
  }
}

.return-to-menu {
  padding: 5px;
  background: rgba($black, 0.5);
}