$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$turquoise: #1fc8db;
$black: #111;

$link-color: $turquoise;
$link-hover-color: $black;
$link-hover-decoration: none;
$text-color: $turquoise;

$font-size-base: 18px;
$border-radius-base: 0px;
$input-bg: rgba(255, 255, 255, 0.5);

@import '~bootstrap-sass/assets/stylesheets/bootstrap';


@mixin pricedown-font() {
  font-family: 'Pricedown', Arial, sans-serif;
}

@mixin with-shadow() {
  text-shadow: 2px 2px #FF0000;
}

html,
body {
  height: 100%;
  overflow: hidden;  
}

body, a:hover, a:focus, button {
  // cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress !important;
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(http://ani.cursors-4u.net/cursors/cur-12/cur1103.png), progress !important;
}

body {
  background: url(/assets/img/miami-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  @include pricedown-font();
}

.with-shadow {
  @include with-shadow();
}

.return-to-menu {
  padding: 5px;
  background: rgba($black, 0.5);
  text-transform: uppercase;
}

.content-wrapper {
  padding: 20px;
  text-align: center;
}

.game-wrapper {
  background: rgba($black, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 800px;
  min-height: 200px;

  .game-bar {
    @include with-shadow();
    text-transform: uppercase;
    background: rgba($black, 0.8);
    width: 100%;
    min-height: 40px;

    a {
      padding: 6px 12px;
    }

    a, button {
      text-transform: uppercase;
    }
  }

  .middle-row {
    padding: 20px 0;
  }
}

.main-menu {
  @include pricedown-font();
  ul {
    li {
      a {
        font-size: $font-size-h1;
      }
    }
  }
}

.race {
  &__header {
    p {
      @include pricedown-font();
      color: $turquoise;
      font-size: $font-size-h1;
    }

    &__player {
      text-shadow: 2px 2px $black;
    }
  }
}

.countdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  @include with-shadow();
  @include pricedown-font();
  font-size: 200px;
  text-align: center;
}

.scores {
  table td, th {
    text-align: center;
  }
}

.game-menu {
  background: rgba($black, 0.8);
  a {    
    padding: 6px 12px;
  }
  button, a {
    text-transform: uppercase;
  }
}

.race-stats {
  min-width: 200px;
  background: rgba($black, 0.6);
  margin: 0 -15px 0 -15px;
  padding: 5px;
}
