{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="race-form">
    <h1 class="with-shadow">New race</h1>
    <div class="col-md-6 col-md-offset-3">
      <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_field form.player_a show_label=False %}
        {% bootstrap_field form.player_b show_label=False %}
        {% buttons %}
          <button class="btn btn-link with-shadow" type="submit">Start race!</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}
