<!doctype html>
{% load staticfiles %}

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Goldsprint{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/css/main.css' %}"/>
</head>
<body>
    <span id="info"></span>
    <canvas id="canvas" width="800" height="800"></canvas>
    <script src="{% static 'dist/js/main.js' %}"></script>
</body>
</html>