<!doctype html>
{% load staticfiles %}

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Goldsprint{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'dist/main.css' %}"/>
</head>
<body>
  <div class="is-vcentered">
    <div class="content-wrapper has-text-centered">
      <a class="return-to-menu with-shadow" href="{% url 'game:menu' %}">Main menu</a>
      <div class="game-wrapper">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'dist/vendor.js' %}"></script>
  <script src="{% static 'dist/main.js' %}"></script>
</body>
</html>